
<style type="text/css">
.bt1 {
  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 3px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.bt1:hover {
  background-color:#eb675e;
}
.bt1:active {
  position:relative;
  top:1px;
}


</style>



<p id="notice"><%= notice %></p>

<h1>需求大厅</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @needs.each do |need| %>
      <tr>
        <td><div class='bt1'>
        <%= link_to '显示', need %>
        </div></td>
       
        <% @user_image=User.find(need.user_id).logo%>
        <% @name=User.find(need.user_id).name%>



        <td><%=image_tag(@user_image, size: "80x80", )%> &nbsp;&nbsp;&nbsp;</td>
        

        <td><p style='color:red;display:inline'>昵称：</p>
        <%=@name%>&nbsp;&nbsp;&nbsp;</td>



        <td><p style='color:red;display:inline'>标题：</p>
        <%= need.title %></td>



        <td><p style='color:red;display:inline'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布时间：</p>
        <% @time=need.created_at.to_s[0,20]%>
        <%=@time%>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>



        <td><p style='color:red;display:inline'>标签:</p>
        <%@tags= JSON.parse(need.tags)%>
        <%@tags.each do |tag|%>
        <%=tag%>&nbsp;
        <%end%></td>




    
        <% if need.user_id.to_i==@i.to_i %>
          <td><strong>我的需求</strong>&nbsp;&nbsp;
          <%= link_to '删除', need, method: :delete, data: { confirm: '要删除这条需求吗' } %>


        <%end%>  </td>
      </br>
      </tr>
    <% end %>
  
  </tbody>
</table>

<br>

<%= link_to '新建需求', new_need_path %>
