

<script>

jQuery(document).ready(function(){

$(".bt2").click(function() 
{

  // var string="<form class=\"new_answer\" id=\"new_answer\" action=\"/needs/create_answer\"accept-charset=\"UTF-8\" method= \"post\">
  //   <label for=\"need_描述\">描述</label><br><textarea name=\"answer[description]\" id=\"answer_description\" cols=\"20\" rows=\"15\"></textarea><br><input type=\"submit\" name=\"commit\" value=\"提交\">"
  // $(".bt2").after(string);


});
});

</script>
<div id='menu4'>
  <div id='menu5'> <!--上面那一行--> 
    <div id='menu7'>
     <!--  <p id="notice"><%= notice %></p> -->

  
    <%@logo_url=User.find(@need.user_id).logo%>
    <%@name=User.find(@need.user_id).name%>
  
    <%=image_tag(@logo_url,size: "120x120", )%></br>
    <strong>Title:</strong>
    
    <%= @need.title %></br>
  
   <strong>标签:</strong>
        <%@tags= JSON.parse(@need.tags)%>
        <%@tags.each do |tag|%>
        <%=tag%>&nbsp;
        <%end%></br>
    <strong>联系方式:   
    <%= @need.number %> id:<%=@name%></strong>
    </div>

   <strong>图片:</strong>
        <%@images= JSON.parse(@need.image_urls)%>
        <%@images.each do |a|%>
        <%=image_tag(a,size: "170x200", )%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%end%></td>


</div>

<div id='menu6'>
  <div id='menu8'>
  <p>
  <strong>需求描述:</strong></br>
  <%= @need.description %>
  </p>
  </div>

  <div>
    <h6>评论框:</h6>
<!-- <p class="bt2">我要评论</p> -->
<%@viewer_id=session[:user_id]%>

<%= form_tag(answer_path) do %>
<%=text_area_tag 'answer[words]', '', :placeholder => '输入评论',size:'50x4'%>
<%=hidden_field_tag 'answer[user_id]',@viewer_id%>
<%=hidden_field_tag 'answer[needs_id]',@need.id%>
<%= submit_tag '提交' %>
<%end%> 

  </div>

</div>




<!--<%= link_to 'Edit', edit_need_path(@need) %> 
<%= link_to 'Back', needs_path %>-->

</div>







</div>
